<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6387a5aa-66b5-4652-adcb-00b72071d76b" Alias="aboutPage" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Parent>
    <Compositions>
      <Composition Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Composition>
    </Compositions>
    <DefaultTemplate>AboutPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b4420909-2cd5-4b8a-b347-90ed2d0ba454">AboutPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f13d1c27-4b40-4b8e-b8b5-4f61ca1bdcf0</Key>
      <Name>About Header Block</Name>
      <Alias>aboutHeaderBlock</Alias>
      <Definition>bf4ab8b7-f73c-458f-9e20-ab46a04b5a91</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeContent/aboutHeaderBlock">About Header Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4e96d1ea-c63a-471d-9dc1-d5718cc364bf</Key>
      <Name>About Info Block</Name>
      <Alias>aboutInfoBlock</Alias>
      <Definition>6d2a2206-1e2a-42c2-955c-96ba2a9b5cca</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeContent/aboutHeaderBlock">About Header Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a0158206-fc3f-4369-b2b0-4fd82e9e5e9a</Key>
      <Name>About Review Block</Name>
      <Alias>aboutReviewBlock</Alias>
      <Definition>14a85461-862c-488b-b9c4-bfdb93922d67</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homeContent/aboutHeaderBlock">About Header Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c66c96b2-3382-49e2-b961-3af0d3c38a38</Key>
      <Name>About Team Block</Name>
      <Alias>aboutTeamBlock</Alias>
      <Definition>38bae7ef-f598-4b99-8623-3a3f9910b9bc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="homeContent/aboutHeaderBlock">About Header Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0e2e0d6d-6b9c-48fe-882c-67f42e183032</Key>
      <Caption>HomeContent</Caption>
      <Alias>homeContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>5ff13808-a2fd-485d-80f8-77fe09bb4a37</Key>
      <Caption>About Header Block</Caption>
      <Alias>homeContent/aboutHeaderBlock</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>