<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e31eae05-d7c3-48bf-a40b-d7eae9d04942" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Parent>
    <Compositions>
      <Composition Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="32c9afb4-3393-4044-9317-d6e2c402a536">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>769286fa-738b-4ddc-8bc5-becfa4ef459b</Key>
      <Name>About Header Block</Name>
      <Alias>aboutHeaderBlock</Alias>
      <Definition>1418f4f0-60d0-44eb-b85b-af8e0ba5e987</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeContent/contactBlock">Contact Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>416822af-af06-440e-b5ae-15de5f656072</Key>
      <Name>Contact Info block</Name>
      <Alias>contactInfoBlock</Alias>
      <Definition>a4673188-cf11-416f-9c7f-b8ee3722df0e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homeContent/contactBlock">Contact Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5f48e8f9-82f4-4cd8-a2ad-7f5cc175eff5</Key>
      <Name>Contact Person Block</Name>
      <Alias>contactPersonBlock</Alias>
      <Definition>25031313-4ec4-4219-bb27-131b2bdb60b3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeContent/contactBlock">Contact Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ac033128-de8d-49e8-95be-aade122ab47e</Key>
      <Caption>HomeContent</Caption>
      <Alias>homeContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dbe79b88-ee00-4c76-a38b-0bbed93cd4fa</Key>
      <Caption>Contact Block</Caption>
      <Alias>homeContent/contactBlock</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>