<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0238d2d2-c7e7-4b2f-a657-457c93055bf0" Alias="experienceWithFormBlock" Level="1">
  <Info>
    <Name>Experience With Form Block</Name>
    <Icon>icon-plugin</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3203d245-d7bb-4694-bfe3-0f4247df30df</Key>
      <Name>Call To Action Form Block</Name>
      <Alias>callToActionFormBlock</Alias>
      <Definition>d00533fd-d0a9-44ea-abb5-6ff8c6414fc0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="experienceWithFormBlock">experienceWithFormBlock</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35cb9fe6-5db5-4d10-bdfc-72d767494a73</Key>
      <Name>Experience Block</Name>
      <Alias>experienceBlock</Alias>
      <Definition>01f32227-383f-4aaf-9941-cec511cf9f79</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="experienceWithFormBlock">experienceWithFormBlock</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>083017a8-778a-4ec7-89bf-bfc6e5100a13</Key>
      <Caption>experienceWithFormBlock</Caption>
      <Alias>experienceWithFormBlock</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>