<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2c8db791-e556-4211-b60e-7990e8dfa9e7" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ae6db873-b48b-416c-a002-d10d671379cf">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6387a5aa-66b5-4652-adcb-00b72071d76b" SortOrder="0">aboutPage</ContentType>
    <ContentType Key="26541378-03ec-4a79-8ecd-f83d6471d774" SortOrder="1">servicesPage</ContentType>
    <ContentType Key="e31eae05-d7c3-48bf-a40b-d7eae9d04942" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>18585b62-9099-412a-a1be-a4a06d31c8fb</Key>
      <Name>Experience With Form Block</Name>
      <Alias>experienceWithFormBlock</Alias>
      <Definition>4aa9626e-17fc-43d3-ab21-0932475ee16d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeContent">HomeContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2b1efc30-3091-4e68-b8d4-a052cacab0cf</Key>
      <Name>heroBlock</Name>
      <Alias>heroBlock</Alias>
      <Definition>d2f42ab1-f99e-4904-a583-2d7deb186853</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeContent">HomeContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>99565841-f0a0-413c-a5b1-15eb222975c5</Key>
      <Name>Services Blocks</Name>
      <Alias>servicesBlocks</Alias>
      <Definition>3aaa0213-234d-4ec7-9802-7095ead4be67</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="homeContent">HomeContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>003fec44-a3ce-4232-8943-4904e0666b28</Key>
      <Name>Success Story Block</Name>
      <Alias>successStoryBlock</Alias>
      <Definition>89b88ea1-104c-48bb-b77a-615e3ca07775</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="homeContent">HomeContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f9b6d049-6ff9-4195-ac7f-a48da9bb55bc</Key>
      <Name>Trusted Clients Block</Name>
      <Alias>trustedClientsBlock</Alias>
      <Definition>6ca359b2-ab1a-4e79-ac13-cbfbf1b2244e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="homeContent">HomeContent</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>aa70cc2d-389a-479f-b43d-16541c7d1b8e</Key>
      <Caption>HomeContent</Caption>
      <Alias>homeContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>