<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26541378-03ec-4a79-8ecd-f83d6471d774" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Parent>
    <Compositions>
      <Composition Key="2c8db791-e556-4211-b60e-7990e8dfa9e7">homePage</Composition>
    </Compositions>
    <DefaultTemplate>ServicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9c35d5f5-9e6e-43a5-8888-a318ca1c2503">ServicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="6cc0e5a3-75a6-43e4-9ddd-7b2738579861" SortOrder="0">serviceDetailPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3a1011e3-27c7-4a40-863b-6e8e2faaf13a</Key>
      <Name>About Header Block</Name>
      <Alias>aboutHeaderBlock</Alias>
      <Definition>ee9f9a22-cbb3-49c6-8ef0-6929badfe975</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="homeContent/serviceBlock">Service Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cae01c2c-08cb-4d7b-b842-80d76fa5ebf5</Key>
      <Name>Services Block</Name>
      <Alias>servicesBlock</Alias>
      <Definition>1309e7c3-3ea4-44d0-a954-8dd05df2f4e3</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="homeContent/serviceBlock">Service Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a0b55174-9641-4cb3-a170-7f1458ea4f5e</Key>
      <Caption>HomeContent</Caption>
      <Alias>homeContent</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ae2529a8-241d-4d35-a13e-5605e21d617a</Key>
      <Caption>Service Block</Caption>
      <Alias>homeContent/serviceBlock</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>