<?xml version="1.0" encoding="utf-8"?>
<DataType Key="14a85461-862c-488b-b9c4-bfdb93922d67" Alias="About Page - About Review Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About Page - About Review Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d6596298-827f-40ed-aa6b-411822f76123"
    }
  ]
}]]></Config>
</DataType>