<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e7196cff-aa32-427b-908f-971936a7fcf3" Alias="About Team Block - Team Members Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>About Team Block - Team Members Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4687b6fd-c20b-4e3d-b0ed-3febc91a1f63"
    }
  ]
}]]></Config>
</DataType>