<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53ff96fd-018f-4dba-b389-0a96a4100902" Alias="Call To Action Form block - Form Title - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Call To Action Form block - Form Title - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>