<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1f7ea352-7e4a-469c-a911-c0cc83dee9c3" Alias="Call To Action Form block - Service Label - Text Box Property Editor UI" Level="1">
  <Info>
    <Name>Call To Action Form block - Service Label - Text Box Property Editor UI</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>