<?xml version="1.0" encoding="utf-8"?>
<DataType Key="25031313-4ec4-4219-bb27-131b2bdb60b3" Alias="Contact Page - Contact Person Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Contact Person Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d3643bd-59cc-4ddf-bd62-1f7b15a6d040"
    }
  ]
}]]></Config>
</DataType>