<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4673188-cf11-416f-9c7f-b8ee3722df0e" Alias="Contact Page - Contact Info block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Contact Page - Contact Info block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "105c393b-0343-47de-9f98-024b46e713da"
    }
  ]
}]]></Config>
</DataType>