<?xml version="1.0" encoding="utf-8"?>
<DataType Key="01f32227-383f-4aaf-9941-cec511cf9f79" Alias="Experience With Form Block - Experience Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Experience With Form Block - Experience Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "979d41a3-39e1-4456-8c60-9f99d29296cd"
    }
  ]
}]]></Config>
</DataType>