<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee9b2675-44e3-45c5-aae4-f5c8af518412" Alias="Experience Block - Signature Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Experience Block - Signature Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>