<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d00533fd-d0a9-44ea-abb5-6ff8c6414fc0" Alias="Experience With Form Block - Call To Action Form Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Experience With Form Block - Call To Action Form Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9f8e553d-a104-427d-bf31-dee0d5b77d40"
    }
  ]
}]]></Config>
</DataType>