<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4aa9626e-17fc-43d3-ab21-0932475ee16d" Alias="Home Page - Experience With Form Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Experience With Form Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "0238d2d2-c7e7-4b2f-a657-457c93055bf0"
    }
  ]
}]]></Config>
</DataType>