<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89b88ea1-104c-48bb-b77a-615e3ca07775" Alias="Home Page - Success Story Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Success Story Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ed9d4113-ddd4-4369-b5e4-8c5a1d9f6c1c"
    }
  ]
}]]></Config>
</DataType>