<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0b7eee52-773c-4ec6-9194-d3b419d9a183" Alias="Home Page - Hero Block List - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Hero Block List - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "38f08596-6265-4c3e-9514-3ebe4958d703"
    }
  ]
}]]></Config>
</DataType>