<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6ca359b2-ab1a-4e79-ac13-cbfbf1b2244e" Alias="Home Page - Trusted Clients Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Trusted Clients Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3acdfa90-0286-40d5-bdbd-20073026fed9"
    }
  ]
}]]></Config>
</DataType>