<?xml version="1.0" encoding="utf-8"?>
<DataType Key="67e017de-e9c5-47cd-bba2-3c7889312f35" Alias="Service Detail Page - Contact Form Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Page - Contact Form Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1e7732a1-6aa4-4a63-a4b3-e329ed21becb"
    }
  ]
}]]></Config>
</DataType>