<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d0e1c84d-8050-48c5-b9bb-a88df938cd4a" Alias="Service Detail Image Block - Image Block Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Image Block - Image Block Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>