<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1309e7c3-3ea4-44d0-a954-8dd05df2f4e3" Alias="Services Page - Services Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Services Page - Services Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "d3f97f67-ef15-4335-83e3-1814c89bbd1e"
    }
  ]
}]]></Config>
</DataType>