<?xml version="1.0" encoding="utf-8"?>
<DataType Key="07485c23-8bac-411f-972b-93373bfd6657" Alias="ServicesBlock - Services Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>ServicesBlock - Services Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3"
    }
  ]
}]]></Config>
</DataType>