<?xml version="1.0" encoding="utf-8"?>
<DataType Key="72482408-c225-427e-ae63-1a8ec08ffcf1" Alias="Service Detail Page - Header Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Page - Header Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8e4d5370-3f3b-462b-8a73-1f7cc06be9d7"
    }
  ]
}]]></Config>
</DataType>