<?xml version="1.0" encoding="utf-8"?>
<DataType Key="317f0da1-e0b5-4f44-84f1-e78540bf7c6b" Alias="Service Detail Page - Service Detail Header Image - Media Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Page - Service Detail Header Image - Media Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>