<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ee9f9a22-cbb3-49c6-8ef0-6929badfe975" Alias="Services Page - About Header Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Services Page - About Header Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8e4d5370-3f3b-462b-8a73-1f7cc06be9d7"
    }
  ]
}]]></Config>
</DataType>