<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e4314aec-b251-410f-9ce6-7e37977cfdec" Alias="Service Detail Page - Service Detail Content Blocks - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail Page - Service Detail Content Blocks - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "590d096e-513d-4204-985f-b8181e70b7db"
    },
    {
      "contentElementTypeKey": "61fc1310-9d0a-4d2b-9316-dc1569a365dd"
    }
  ]
}]]></Config>
</DataType>