<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04c1b3a0-09fc-47d8-a368-7a5caa542fd2" Alias="SuccessStoryBlock - Stats Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>SuccessStoryBlock - Stats Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "4265772b-bfb6-411c-870c-99eff1ff584f"
    }
  ]
}]]></Config>
</DataType>