<?xml version="1.0" encoding="utf-8"?>
<Media Key="673f5d8b-8d4b-47b7-8d43-75ef072df05d" Alias="dot-map-1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T10:36:30</CreateDate>
    <NodeName Default="dot-map-1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/aslhtujc/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>