<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b9473fc-afb8-4a3d-b296-11b34393ee28" Alias="Imgaaron.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgaaronpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T11:33:28</CreateDate>
    <NodeName Default="Imgaaron.png" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oo2nfxor/imgaaron.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>