<?xml version="1.0" encoding="utf-8"?>
<Media Key="0628f0a5-0d5c-4d53-bd76-00be4ee915cc" Alias="Imgbonds.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgbondspng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T10:22:36</CreateDate>
    <NodeName Default="Imgbonds.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fi3g3mbv/imgbonds.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>