<?xml version="1.0" encoding="utf-8"?>
<Media Key="6af71af8-83b9-4a91-9d78-5154e0be2bc9" Alias="Imgbrandonnewton.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgbrandonnewtonpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T11:33:28</CreateDate>
    <NodeName Default="Imgbrandonnewton.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o5ildxgq/imgbrandonnewton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>