<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bf92d30-a2db-4abe-9068-fdaface36cfb" Alias="Imgformulahelp.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgformulahelppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T12:21:11</CreateDate>
    <NodeName Default="Imgformulahelp.png" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x5tl4pns/imgformulahelp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>