<?xml version="1.0" encoding="utf-8"?>
<Media Key="f14367d5-9138-45b6-99e6-d832a9454429" Alias="Imgmap.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgmappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T12:39:40</CreateDate>
    <NodeName Default="Imgmap.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lkwbkr0r/imgmap.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>