<?xml version="1.0" encoding="utf-8"?>
<Media Key="300ef49f-3d88-4f3c-ad23-e37ecf92299a" Alias="Imgriskhelp.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgriskhelppng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T12:21:11</CreateDate>
    <NodeName Default="Imgriskhelp.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ca5erbxb/imgriskhelp.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>