<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6c0a3e7-3da5-479e-a283-0d68afa4e9bf" Alias="Imgstatistic.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgstatisticpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T10:22:36</CreateDate>
    <NodeName Default="Imgstatistic.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nbujmqgm/imgstatistic.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>