<?xml version="1.0" encoding="utf-8"?>
<Media Key="821fb915-26a4-4fcf-9241-b4775064527e" Alias="Imgsignature.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgsignaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T09:28:59</CreateDate>
    <NodeName Default="Imgsignature.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tjzfsngn/imgsignature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>