<?xml version="1.0" encoding="utf-8"?>
<Media Key="72be6a8f-0902-456c-bdaa-2810c55ee6d3" Alias="Imgtina2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgtina2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T11:33:28</CreateDate>
    <NodeName Default="Imgtina2.png" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/acqprrdl/imgtina2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>