<?xml version="1.0" encoding="utf-8"?>
<Media Key="45c9d075-4707-44fa-ba65-20ba38239f29" Alias="Onatrixicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrixicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T15:02:19</CreateDate>
    <NodeName Default="Onatrixicon" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/5ini521o/onatrixicon.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>