<?xml version="1.0" encoding="utf-8"?>
<Media Key="82d47834-5b6a-418e-a52f-ab8277c27441" Alias="Succesvideo.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Succesvideopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T10:48:02</CreateDate>
    <NodeName Default="Succesvideo.png" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xozjenad/succesvideo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>