<?xml version="1.0" encoding="utf-8"?>
<Content Key="9c53c8e3-b99f-4dc2-aca6-63cf11c444fd" Alias="Contact" Level="2">
  <Info>
    <Parent Key="2ab8e288-e18a-4941-b668-f589fe9931ec">Home Page</Parent>
    <Path>/HomePage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-11-04T12:39:46</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="32c9afb4-3393-4044-9317-d6e2c402a536">ContactPage</Template>
  </Info>
  <Properties>
    <aboutHeaderBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8e4d5370-3f3b-462b-8a73-1f7cc06be9d7",
      "key": "5a9dd3e7-4853-43aa-a16e-6a61dbaceddc",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "breadcrumbText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Home"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "81ce3a6c-8c06-4089-8484-98ef40854d89",
              "mediaKey": "73f00c24-b163-4707-9394-1fd1cdf26dcc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a9dd3e7-4853-43aa-a16e-6a61dbaceddc",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a9dd3e7-4853-43aa-a16e-6a61dbaceddc",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutHeaderBlock>
    <contactInfoBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "105c393b-0343-47de-9f98-024b46e713da",
      "key": "269f1baa-e215-4c4d-bb60-5e89d13c0bd4",
      "udi": null,
      "values": [
        {
          "alias": "subTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "formTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "formDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        },
        {
          "alias": "inputName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Name"
        },
        {
          "alias": "inputEmail",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Email adress"
        },
        {
          "alias": "inputPhone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone"
        },
        {
          "alias": "inputService",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial Consulting"
        },
        {
          "alias": "submitText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Submit"
        },
        {
          "alias": "mapImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "9a6545c0-10b1-465a-894f-fc3ebb1e1dea",
              "mediaKey": "f14367d5-9138-45b6-99e6-d832a9454429",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "269f1baa-e215-4c4d-bb60-5e89d13c0bd4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "269f1baa-e215-4c4d-bb60-5e89d13c0bd4",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactInfoBlock>
    <contactPersonBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3d3643bd-59cc-4ddf-bd62-1f7b15a6d040",
      "key": "2ebe0ed0-89d8-4db5-b5a2-935af02d5ca7",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "address",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Office location"
        },
        {
          "alias": "phone",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Phone number"
        },
        {
          "alias": "email",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "E-mail address"
        },
        {
          "alias": "image",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a81cc9e8-bdb3-4555-8808-421aad3e844c",
              "mediaKey": "caf5a167-e4d7-4dbb-b3c3-c1cea1f59fc2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2ebe0ed0-89d8-4db5-b5a2-935af02d5ca7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2ebe0ed0-89d8-4db5-b5a2-935af02d5ca7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactPersonBlock>
    <experienceWithFormBlock>
      <Value><![CDATA[]]></Value>
    </experienceWithFormBlock>
    <heroBlock>
      <Value><![CDATA[]]></Value>
    </heroBlock>
    <servicesBlocks>
      <Value><![CDATA[]]></Value>
    </servicesBlocks>
    <successStoryBlock>
      <Value><![CDATA[]]></Value>
    </successStoryBlock>
    <trustedClientsBlock>
      <Value><![CDATA[]]></Value>
    </trustedClientsBlock>
  </Properties>
</Content>