<?xml version="1.0" encoding="utf-8"?>
<Content Key="016aa64b-62b1-470d-b77a-35f659c9a26e" Alias="Global Footer Block" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalFooterBlock</Path>
    <Trashed>false</Trashed>
    <ContentType>globalFooterBlock</ContentType>
    <CreateDate>2025-11-04T11:20:30</CreateDate>
    <NodeName Default="Global Footer Block" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[E-mail address]]></Value>
    </email>
    <image>
      <Value><![CDATA[[
  {
    "key": "a7e90f1e-669f-47e6-9cc3-a13305df4e51",
    "mediaKey": "caf5a167-e4d7-4dbb-b3c3-c1cea1f59fc2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <officeAddress>
      <Value><![CDATA[Office location]]></Value>
    </officeAddress>
    <phoneNumber>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </phoneNumber>
    <title>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </title>
  </Properties>
</Content>