<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ab8e288-e18a-4941-b668-f589fe9931ec" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-04T08:41:15</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae6db873-b48b-416c-a002-d10d671379cf">HomePage</Template>
  </Info>
  <Properties>
    <experienceWithFormBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0238d2d2-c7e7-4b2f-a657-457c93055bf0",
      "key": "de1e43ef-98b2-41e4-bf94-baa5bc9453db",
      "udi": null,
      "values": [
        {
          "alias": "experienceBlock",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "979d41a3-39e1-4456-8c60-9f99d29296cd",
                "key": "15f5e87d-c773-4be3-8e03-19ae05f82123",
                "udi": null,
                "values": [
                  {
                    "alias": "sectionTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "ABOUT US"
                  },
                  {
                    "alias": "mainHeading",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "We have 40 years experience"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "quote",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
                  },
                  {
                    "alias": "nameTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tina Fox - CEO \u0026 Founder"
                  },
                  {
                    "alias": "signatureImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "683d7ea4-bbd1-4ebc-8e2e-45345a464706",
                        "mediaKey": "821fb915-26a4-4fcf-9241-b4775064527e",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "15f5e87d-c773-4be3-8e03-19ae05f82123",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "15f5e87d-c773-4be3-8e03-19ae05f82123",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "callToActionFormBlock",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "9f8e553d-a104-427d-bf31-dee0d5b77d40",
                "key": "78c36755-e920-408b-aa7a-a6364de0f512",
                "udi": null,
                "values": [
                  {
                    "alias": "formTitle",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Request a call back"
                  },
                  {
                    "alias": "formDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
                  },
                  {
                    "alias": "nameLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Name"
                  },
                  {
                    "alias": "emailLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Email address"
                  },
                  {
                    "alias": "phoneLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Phone"
                  },
                  {
                    "alias": "serviceLabel",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial consulting"
                  },
                  {
                    "alias": "buttonText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Submit"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "78c36755-e920-408b-aa7a-a6364de0f512",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "78c36755-e920-408b-aa7a-a6364de0f512",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "de1e43ef-98b2-41e4-bf94-baa5bc9453db",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "de1e43ef-98b2-41e4-bf94-baa5bc9453db",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </experienceWithFormBlock>
    <heroBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "38f08596-6265-4c3e-9514-3ebe4958d703",
      "key": "d30505cf-9139-404e-b980-6da15007b71a",
      "udi": null,
      "values": [
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "234f0952-2cd8-4135-99aa-d62b8720ccd6",
              "mediaKey": "bcb1d1c1-58a5-49a8-bd23-77fb905fa7a1",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Contact Us"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "subheading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
        },
        {
          "alias": "buttonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/2ab8e288e18a4941b668f589fe9931ec"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d30505cf-9139-404e-b980-6da15007b71a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d30505cf-9139-404e-b980-6da15007b71a",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </heroBlock>
    <servicesBlocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d3f97f67-ef15-4335-83e3-1814c89bbd1e",
      "key": "439abe92-c0b2-4871-a43e-e0acda325411",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "mainHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions  To Grow Your Business Faster"
        },
        {
          "alias": "servicesItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "fda68204-7807-4d74-976a-d44843daf933",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "6efa503f-7b72-4ba3-bea1-bc89b1363c01",
                        "mediaKey": "027fbc6e-746a-4344-9272-40740b654c9b",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "ca2d478c-0956-4cde-80b3-fc56dc21902e",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4a69f24e-c240-4e66-9244-bdb2b81b2af2",
                        "mediaKey": "0628f0a5-0d5c-4d53-bd76-00be4ee915cc",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "3e7281bc-7457-4980-9ae7-b52af122abe8",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4a1f13be-b142-4445-a11b-c12505ab02bd",
                        "mediaKey": "817573a6-cb75-482d-aa4e-82b4d1477beb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "44c7f985-cdb1-4b91-a400-0f0b15c40b52",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ea571f60-c111-4a8f-8725-9d018f3482d5",
                        "mediaKey": "07e9b180-af67-4adc-8fa1-5fbcaae65bf4",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "a5582c63-6039-4ac3-a462-b1b351a6bcd4",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "1e940b67-fca4-4bd0-af64-f1178a5a5c97",
                        "mediaKey": "faca014d-6a0f-48bb-a52c-dd761f4fb913",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "370a2bbf-477c-48b7-a937-47108f048c16",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f0c636d4-523e-42b2-bb12-ae217f3e8671",
                        "mediaKey": "f6c0a3e7-3da5-479e-a283-0d68afa4e9bf",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "fda68204-7807-4d74-976a-d44843daf933",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "ca2d478c-0956-4cde-80b3-fc56dc21902e",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3e7281bc-7457-4980-9ae7-b52af122abe8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "44c7f985-cdb1-4b91-a400-0f0b15c40b52",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "a5582c63-6039-4ac3-a462-b1b351a6bcd4",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "370a2bbf-477c-48b7-a937-47108f048c16",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "fda68204-7807-4d74-976a-d44843daf933",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "ca2d478c-0956-4cde-80b3-fc56dc21902e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3e7281bc-7457-4980-9ae7-b52af122abe8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "44c7f985-cdb1-4b91-a400-0f0b15c40b52",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "a5582c63-6039-4ac3-a462-b1b351a6bcd4",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "370a2bbf-477c-48b7-a937-47108f048c16",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "439abe92-c0b2-4871-a43e-e0acda325411",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "439abe92-c0b2-4871-a43e-e0acda325411",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </servicesBlocks>
    <successStoryBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ed9d4113-ddd4-4369-b5e4-8c5a1d9f6c1c",
      "key": "f6560f9c-5b8b-445c-ae15-175e5a0ea06f",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "SUCCESS STORIES"
        },
        {
          "alias": "highlightText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "mainImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4db12395-aabc-42b5-a96e-9910b31d1010",
              "mediaKey": "82d47834-5b6a-418e-a52f-ab8277c27441",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "statsItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "4265772b-bfb6-411c-870c-99eff1ff584f",
                "key": "a56749ab-1d8f-4757-ba3d-1f22d240ed71",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "4265772b-bfb6-411c-870c-99eff1ff584f",
                "key": "0aec9f8e-83c9-48f6-bd66-4ed5027fdef2",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "4265772b-bfb6-411c-870c-99eff1ff584f",
                "key": "b0025540-711c-437e-bcb5-800e84a9dee2",
                "udi": null,
                "values": [
                  {
                    "alias": "statNumber",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "statDescription",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "a56749ab-1d8f-4757-ba3d-1f22d240ed71",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0aec9f8e-83c9-48f6-bd66-4ed5027fdef2",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "b0025540-711c-437e-bcb5-800e84a9dee2",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "a56749ab-1d8f-4757-ba3d-1f22d240ed71",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0aec9f8e-83c9-48f6-bd66-4ed5027fdef2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b0025540-711c-437e-bcb5-800e84a9dee2",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f6560f9c-5b8b-445c-ae15-175e5a0ea06f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f6560f9c-5b8b-445c-ae15-175e5a0ea06f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </successStoryBlock>
    <trustedClientsBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3acdfa90-0286-40d5-bdbd-20073026fed9",
      "key": "39e8f11d-c556-4ca9-b8d6-f62d667daeef",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We are trusted by more than"
        },
        {
          "alias": "highlightText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "4.000\u002B clients"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "buttonText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "buttonLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Read our story"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "21d20c3c-4b1e-42a3-94fa-ae8fdd304cda",
              "mediaKey": "bd09656d-ed92-49b4-bc15-de9e02042830",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "39e8f11d-c556-4ca9-b8d6-f62d667daeef",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "39e8f11d-c556-4ca9-b8d6-f62d667daeef",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </trustedClientsBlock>
  </Properties>
</Content>