<?xml version="1.0" encoding="utf-8"?>
<Content Key="a791ee2d-d492-446d-a158-0ac5efbea569" Alias="Services" Level="2">
  <Info>
    <Parent Key="2ab8e288-e18a-4941-b668-f589fe9931ec">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2025-11-04T11:46:20</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="9c35d5f5-9e6e-43a5-8888-a318ca1c2503">ServicesPage</Template>
  </Info>
  <Properties>
    <aboutHeaderBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "8e4d5370-3f3b-462b-8a73-1f7cc06be9d7",
      "key": "a9fea6c7-cfd2-48e2-ad1b-ab5875abe289",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "breadcrumbText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Home"
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "40261958-54b2-4eef-84c4-8cabc85b579c",
              "mediaKey": "73f00c24-b163-4707-9394-1fd1cdf26dcc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a9fea6c7-cfd2-48e2-ad1b-ab5875abe289",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a9fea6c7-cfd2-48e2-ad1b-ab5875abe289",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </aboutHeaderBlock>
    <experienceWithFormBlock>
      <Value><![CDATA[]]></Value>
    </experienceWithFormBlock>
    <heroBlock>
      <Value><![CDATA[]]></Value>
    </heroBlock>
    <servicesBlock>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "d3f97f67-ef15-4335-83e3-1814c89bbd1e",
      "key": "85ab12bb-73cc-487b-9d49-dbac549a413c",
      "udi": null,
      "values": [
        {
          "alias": "sectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "OUR SERVICES"
        },
        {
          "alias": "mainHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We Provide The Solutions To Grow Your Business Faster"
        },
        {
          "alias": "servicesItems",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "2ff2bb96-05c3-4707-b896-0bb88c7a9768",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Risk Management"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "72d23429-0048-4515-89cf-95aca463770a",
                        "mediaKey": "027fbc6e-746a-4344-9272-40740b654c9b",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "serviceLink",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://document/a369f067feb445c5b22ed11b699a504e"
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "348dd9f8-44cf-4292-8f80-7cb9885d23ea",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bonds \u0026 Commodities"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0c721f70-fa1c-4bfa-acdc-8ad0188ab69a",
                        "mediaKey": "0628f0a5-0d5c-4d53-bd76-00be4ee915cc",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "3fecef0a-425e-477a-a8d4-e3037b71921d",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Assurance \u0026 Audits"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "12caf26e-7797-4ac9-b63f-331e23af4ffb",
                        "mediaKey": "817573a6-cb75-482d-aa4e-82b4d1477beb",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "94c990c9-fca2-4d1a-be96-9b710af141ca",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Tax and Trusts"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "db5c4234-5116-491d-8158-273bffd46423",
                        "mediaKey": "07e9b180-af67-4adc-8fa1-5fbcaae65bf4",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "0b4ae9f8-d2d6-4d02-9572-06cfb2944a22",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Financial Advisor"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "5872cf3c-6609-4ac7-9472-dee1ceed5059",
                        "mediaKey": "faca014d-6a0f-48bb-a52c-dd761f4fb913",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "176533bf-6079-4037-b10a-79d6b5bafaa3",
                "key": "c3952cea-7a23-4be4-a541-d61122cc4c9e",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Statistic Advisors"
                  },
                  {
                    "alias": "description",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": {
                      "blocks": {
                        "contentData": [],
                        "settingsData": [],
                        "expose": [],
                        "Layout": {}
                      },
                      "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non\u003C/span\u003E\u003C/p\u003E"
                    }
                  },
                  {
                    "alias": "image",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "855be581-4353-40cd-bf4d-a34eb08dc112",
                        "mediaKey": "f6c0a3e7-3da5-479e-a283-0d68afa4e9bf",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2ff2bb96-05c3-4707-b896-0bb88c7a9768",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "348dd9f8-44cf-4292-8f80-7cb9885d23ea",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "3fecef0a-425e-477a-a8d4-e3037b71921d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "94c990c9-fca2-4d1a-be96-9b710af141ca",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "0b4ae9f8-d2d6-4d02-9572-06cfb2944a22",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "c3952cea-7a23-4be4-a541-d61122cc4c9e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2ff2bb96-05c3-4707-b896-0bb88c7a9768",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "348dd9f8-44cf-4292-8f80-7cb9885d23ea",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "3fecef0a-425e-477a-a8d4-e3037b71921d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "94c990c9-fca2-4d1a-be96-9b710af141ca",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "0b4ae9f8-d2d6-4d02-9572-06cfb2944a22",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "c3952cea-7a23-4be4-a541-d61122cc4c9e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "85ab12bb-73cc-487b-9d49-dbac549a413c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "85ab12bb-73cc-487b-9d49-dbac549a413c",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </servicesBlock>
    <servicesBlocks>
      <Value><![CDATA[]]></Value>
    </servicesBlocks>
    <successStoryBlock>
      <Value><![CDATA[]]></Value>
    </successStoryBlock>
    <trustedClientsBlock>
      <Value><![CDATA[]]></Value>
    </trustedClientsBlock>
  </Properties>
</Content>